# Build results
bin/
obj/

# NuGet packages
packages/
*.nupkg

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Compiled outputs
*.exe
*.pdb
*.ilk
*.cache

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Rider
.idea/

# OS
.DS_Store
Thumbs.db